@font-face {
  font-family: "baloo_bhairegular";
  src: url("assets/fonts/baloobhai-regular-webfont.eot");
  src: url("assets/fonts/baloobhai-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/baloobhai-regular-webfont.woff2") format("woff2"),
    url("assets/fonts/baloobhai-regular-webfont.woff") format("woff"),
    url("assets/fonts/baloobhai-regular-webfont.ttf") format("truetype"),
    url("assets/fonts/baloobhai-regular-webfont.svg#baloo_bhairegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
