%sweep-btn {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  overflow: hidden;
  border: 2px solid $white-color;
  width: fit-content;
  background: none;
  @include border-radius(50px);
  @include padding(20px, 50px, 20px, 50px);

  span {
    color: $white-color;
    font-size: 15px;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white-color;
    color: $black-color;
    @include transform(scaleX(0));
    @include transition(transform 0.4s ease-out);
  }
  &:hover {
    color: $white-color;
    animation: rotate 0.7s ease-in-out both;
    span {
      animation: storm 0.7s ease-in-out both;
      animation-delay: 0.06s;
      color: $black-color;
    }
    &:before {
      @include transform(scaleX(1));
    }
  }
}
.sweep-btn--center {
  @extend %sweep-btn;
  &:before {
    transform-origin: 50% 50%;
  }
}

.sweep-btn--black {
  @extend %sweep-btn;
  @extend .sweep-btn--center;
  border: 2px solid $black-color;
  span {
    color: $black-color;
  }
  &:before {
    background: $black-color;
  }
  &:hover {
    span {
      color: $brand-color;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

/* @mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65, 0, 0.076, 1)) {
  transition: $property $duration $ease;
} */

.learn-more {
  width: 12rem;
  height: auto;
  position: relative;
  .circle {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    position: relative;
    display: block;
    margin: 0;
    width: 50px;
    height: 50px;
    background: $black-color;
    @include border-radius(50px);
    .icon {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: $black-color;
      &.arrow {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;
        &::before {
          position: absolute;
          content: "";
          top: -0.25rem;
          right: 0.0625rem;
          width: 0.625rem;
          height: 0.625rem;
          border-top: 0.125rem solid $brand-color;
          border-right: 0.125rem solid $brand-color;
          transform: rotate(45deg);
        }
      }
    }
  }
  .button-text {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    color: $black-color;
    text-align: left;
    font-size: 18px;
    @include margin(0, 0, 0, 65px);
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $brand-color;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $brand-color;
    }
  }
}

