// colors
$brand-color: #fedc00;
$black-color: #000; // black color
$white-color: #fff; // white color
$light-grey-color: #ccc; // light grey
// fonts en
$font-primary-en: 'baloo_bhairegular', cursive;

/* clearfix */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* center block */
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* center vertically */
@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), "webkit" "ms");
}

//Padding mixin
@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
  }
  //Margin mixin
  @mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
  }
  

  @mixin shadow() {
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.2);
  }