@import "../../assets/scss/variables", "../../assets/scss/mixins", "../../assets/scss/layout",
  "../../assets/scss/ui-elements";

.our-values {
  &__item-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    @include breakpoint(sm) {
      flex-direction: column;
    }
  }
  &__item {
    text-align: center;
    @include padding(30px, 30px, 30px, 30px);
    width: 33.33333333%;
    @include transition(all 0.5s ease);
    position: relative;
    overflow: hidden;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint(sm) {
      width: 100%;
    }
    @include breakpoint(md) {
      width: 50%;
    }

    &:hover {
      background: $black-color;
      @include transform(scale(1.1));
      @include shadow;

      .our-values__numbers {
        color: $white-color;
      }
      .our-values__content {
        color: $white-color;
        @include margin(0, 0, 30px, 0);
      }
      .our-values__sm-text {
        color: $white-color;
        opacity: 10;
        bottom: 40px;
      }
    }
  }
  &__numbers {
    font-size: 12px;
    @include margin(0, 0, 30px, 0);
    display: block;
    color: $light-grey-color;
  }
  &__content {
    font-size: 22px;
    @include margin(0, 0, 0, 0);
    @include transition(all 0.5s ease);
  }
  &__sm-text {
    font-size: 14px;
    letter-spacing: 3px;
    opacity: 0;
    position: absolute;
    bottom: -50px;
    left: 50%;
    @include transform(translateX(-50%));
    @include transition(all 0.5s ease);
  }
}

#our-values__group {
  .our-values__item {
    opacity: 1;
    &:hover .fadding {
      opacity: 1;
    }
  }
  &:hover > .our-values__item:not(:hover) > .fadding {
    opacity: 0.3;
  }
}
