<section class="hero-wrapper">
    <div class="container">
        <p class="">
            We are Lahore-based creative web design agency, specialising in WordPress, WooCommerce and Commerce 7.
        </p>
        <div class="scroll-down">
            <span></span>
        </div>
    </div>
    <div class="header-shape-yellow wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.9s">
        <img src="assets/images/curve-bg-02.png">
    </div>
</section>


<section>
    <div class="container">
        <p>We are a creative agency, passionate about building and designing brands that will stand the test of time. We pride ourselves on being dynamic and distinctive in setting you apart from your competitors. We believe in the power of collaboration and take the time to get to know you and your business to create design outcomes that are well-suited to your values and echo your strategic plans for growth.  We work with companies throughout the UK, including Essex and London as well as overseas.  We measure ourselves against our clients’ success. We’re driven by results and our restless ambition to succeed is what pushes us to continually innovate.</p>

    </div>
</section>



<section class="our-values">
    <div class="container">
        <ul class="our-values__item-group" id="our-values__group">
            <li class="our-values__item cursor-link">
                <div class="fadding">
                    <span class="our-values__numbers">
                        01
                    </span>
                    <p class="our-values__content">
                        Clients are friends. We wouldn’t be here without them.
                    </p>
                    <h3 class="our-values__sm-text">TRUST US</h3>
                </div>
            </li>
            <li class="our-values__item cursor-link">
                <div class="fadding">
                    <span class="our-values__numbers">
                        02
                    </span>
                    <p class="our-values__content">
                        We’re 100% independent and owner managed.
                    </p>
                    <h3 class="our-values__sm-text">RELIABLE</h3>
                </div>
            </li>
            <li class="our-values__item cursor-link">
                <div class="fadding">
                    <span class="our-values__numbers">
                        03
                    </span>
                    <p class="our-values__content">
                        There is no sales team, we just do great work.
                    </p>
                    <h3 class="our-values__sm-text">IT'S TRUE</h3>
                </div>
            </li>
            <li class="our-values__item cursor-link">
                <div class="fadding">
                    <span class="our-values__numbers">
                        04
                    </span>
                    <p class="our-values__content">
                        Expect creativity, technology and strategic thinking.
                    </p>
                    <h3 class="our-values__sm-text">BIG PICTURE</h3>
                </div>
            </li>
            <li class="our-values__item cursor-link">
                <div class="fadding">
                    <span class="our-values__numbers">
                        05
                    </span>
                    <p class="our-values__content">
                        We know how to play digital for brand value.
                    </p>
                    <h3 class="our-values__sm-text">IT WORKS </h3>
                </div>
            </li>
            <li class="our-values__item cursor-link">
                <div class="fadding">
                    <span class="our-values__numbers">
                        06
                    </span>
                    <p class="our-values__content">
                        We've got an eye for great content.
                    </p>
                    <h3 class="our-values__sm-text">HELL YES</h3>
                </div>
            </li>


        </ul>
    </div>
</section>


<section>
    <div class="container">
        <a routerLink='/contact' class="lets-talk cursor-link">
            <span class="text-sm">
                Got a project?
            </span>
            <span class="text-lg">
                Let’s talk.
            </span>
            <svg class="lets-talk__arrow" viewBox="0 0 62 62" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(5.000000, 5.000000)" stroke="#000000" stroke-width="15">
                        <g>
                            <polyline
                                transform="translate(37.000000, 37.000000) rotate(-315.000000) translate(-37.000000, -37.000000) "
                                points="20 3 54 37 20 71"></polyline>
                            <path d="M55,23.5 L-8,23.5"
                                transform="translate(23.500000, 23.500000) rotate(-315.000000) translate(-23.500000, -23.500000) ">
                            </path>
                        </g>
                    </g>
                </g>
            </svg>
        </a>

    </div>
</section>