@import "../../../assets/scss/variables", "../../../assets/scss/mixins", "../../../assets/scss/layout",
  "../../../assets/scss/ui-elements";

header {
  @include margin(0, 0, 0, 0);

  .logo {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 99;
    width: 150px;
    height: 79px;
    z-index: 9999;
    background: url(../../../assets/images/logo-primary.svg) no-repeat;
  }

  #full-screen-menu {
    .button_container {
      position: fixed;
      top: 5%;
      right: 2%;
      height: 55px;
      width: 55px;
      cursor: pointer;
      z-index: 10000;
      border-radius: 50%;
      &:hover {
        span {
          background: $brand-color;

          &:nth-of-type(2) {
            width: 50%;
          }
          &:nth-of-type(3) {
            width: 50%;
          }
        }
      }

      @include breakpoint(sm) {
        top: 1%;
      }

      &.active {
        .top {
          transform: translateY(13px) translateX(0) rotate(45deg);
          background: $black-color;
        }
        .middle {
          opacity: 0;
          background: $black-color;
        }

        .bottom {
          transform: translateY(-5px) translateX(0) rotate(-45deg);
          background: $black-color;
          width: 50%;
        }
      }

      span {
        background: $brand-color;
        border: none;
        height: 5px;
        width: 50%;
        position: absolute;
        top: 18px;
        left: 13px;
        @include border-radius(4px);
        transition: all 0.35s ease;
        cursor: pointer;

        &:nth-of-type(2) {
          top: 27px;
          width: 35%;
        }
        &:nth-of-type(1) {
        }
        &:nth-of-type(3) {
          top: 36px;
          width: 20%;
        }
      }
    }
    .overlay {
      position: fixed;
      background: $brand-color;
      top: 0;
      right: 0;
      width: 50%;
      height: 0%;
      opacity: 0;
      z-index: 1111;
      visibility: hidden;
      transition: opacity 0.35s, visibility 0.35s, height 0.35s;
      overflow: hidden;

      @include breakpoint(sm) {
        width: 100%;
      }

      &.open {
        opacity: 10;
        visibility: visible;
        height: 100%;

        li {
          animation: fadeInUp 0.9s ease forwards;
          animation-delay: 0.35s;

          &:nth-of-type(2) {
            animation-delay: 0.45s;
          }
          &:nth-of-type(3) {
            animation-delay: 0.55s;
          }
          &:nth-of-type(4) {
            animation-delay: 0.65s;
          }
          &:nth-of-type(5) {
            animation-delay: 0.75s;
          }
        }
      }
      .menu--dustu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
        z-index: 10;
        ul {
          li {
            text-align: center;
            opacity: 0;
          }
        }
        .menu__item {
          line-height: 1;
          position: relative;
          display: inline-block;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          @include margin(60px, 0, 60px, 0);

          &-name {
            position: relative;
            font-size: 1.75em;
            overflow: hidden;
            text-transform: lowercase;
            color: $black-color;
            @include margin(0, 0, 10px, 0);

            &:before,
            &:after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: $black-color;
              transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
              transition: transform 0.7s;
              transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
            }
            &:after {
              top: calc(50% - 2px);
              height: 4px;
            }
          }
          &-label {
            position: relative;
            font-size: 20px;
            text-transform: lowercase;
            color: rgba($black-color, 0.3);
            transition: color 0.7s;
            transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
          }

          &:hover {
            .menu__item-name {
              &:before {
                transform: translate3d(100%, 0, 0) translate3d(1px, 0, 0);
              }
            }
            .menu__item-name {
              &:after {
                transform: translate3d(0, 0, 0);
              }
            }
            .menu__item-label {
              color: rgba($black-color, 10);
            }
          }
        }
      }
    }
  }
}

header.header-compressed {
  .logo {
    width: 95px;
    background: url(../../../assets/images/logo-secondary.svg) no-repeat;
  }
}
