<header>
    <a routerLink="home" class="logo  cursor-link"></a>
    <div id="full-screen-menu">
        <div class="button_container cursor-link" id="toggle">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </div>
        <div class="overlay" id="overlay">
            <nav class="menu--dustu">
                <ul>
                    <li>
                        <a routerLink='about' class="menu__item">
                            <span class="menu__item-name">about</span>
                            <span class="menu__item-label">Explore the portfolios</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink='approach' class="menu__item">
                            <span class="menu__item-name">approach</span>
                            <span class="menu__item-label">Discover fascinating stories</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink='services' class="menu__item">
                            <span class="menu__item-name">services</span>
                            <span class="menu__item-label">View our event calendar</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink='contact' class="menu__item">
                            <span class="menu__item-name">Contact</span>
                            <span class="menu__item-label">Read our mission statement</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
