<section class="hero-wrapper">
    <div class="container">
        <p>
            Every beautiful relationship starts with a simple hello. So let’s chat. It might just be the start of
            something memorable.
        </p>

        <div class="scroll-down">
            <span></span>
        </div>
    </div>
    <div class="header-shape-yellow wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.9s">
        <img src="assets/images/curve-bg-02.png">
    </div>
</section>



<section>
    <div class="container">
        <a routerLink='/contact' class="lets-talk">
            <span class="text-sm">
                Got a project?
            </span>
            <span class="text-lg">
                Let’s talk.
            </span>
            <svg class="lets-talk__arrow" viewBox="0 0 62 62" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(5.000000, 5.000000)" stroke="#000000" stroke-width="15">
                        <g>
                            <polyline
                                transform="translate(37.000000, 37.000000) rotate(-315.000000) translate(-37.000000, -37.000000) "
                                points="20 3 54 37 20 71"></polyline>
                            <path d="M55,23.5 L-8,23.5"
                                transform="translate(23.500000, 23.500000) rotate(-315.000000) translate(-23.500000, -23.500000) ">
                            </path>
                        </g>
                    </g>
                </g>
            </svg>
        </a>

    </div>
</section>