@import "../../../assets/scss/variables", "../../../assets/scss/mixins", "../../../assets/scss/layout",
  "../../../assets/scss/ui-elements";

/* footer {
  height: 230px;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background: url(../../../assets/images/footer-bg-01.png) no-repeat bottom center;

  .footer-shape {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 230px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../../../assets/images/footer-bg-02.png) no-repeat bottom right;

    .footer-right {
      text-align: center;
      position: absolute;
      right: 0;
      .copyright-text {
        font-size: 13px;
      }
      .design-by-area {
        span {
          color: $black-color;
          font-size: 16px;
        }
        a {
          img {
            width: 7%;
          }
        }
      }
    }
  }
}  */



footer {
  width:100%;
  position:fixed;
  bottom:0px;

  .footer-right {
    text-align: center;
    position: absolute;
    right: 0;
    z-index: 99;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    top: 50%;
    .copyright-text {
      font-size: 13px;
      color: $white-color;
    }
    .design-by-area {
      span {
        color: $white-color;
        font-size: 16px;
      }
      a {
        img {
          width: 7%;
          @include margin(0, 0 ,0 , 5px);
        }
      }
    }
  }


}
svg {
  width:100%;
}
.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
 
}
.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke:white;
  stroke-width:0.5;
  opacity:.6; 
  transform: translateY(80%);
}
.drop1 {
  transform-origin: 20px 3px;
}
.drop2 {
  animation-delay: 3s;
  animation-duration:3s;
  transform-origin: 25px 3px;
}
.drop3 {
  animation-delay: -2s;
  animation-duration:3.4s;
  transform-origin: 16px 3px;
}
.gooeff {
  	filter: url(#goo);
}
#wave1 {
  fill: black;
 /*  opacity: .6; */
  animation-duration: 9s;
}
#wave2 {
  animation-duration:8s;
  animation-direction: reverse;
  opacity: .4;
  fill:$brand-color;
}

#wave3 {
  animation-duration: 7s;
  opacity:.1;
  fill: black;
}

@keyframes drop {
  0% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  80% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  90% { 
    transform: translateY(10%) ; 
    opacity:.6; 
  }
  100% { 
    transform: translateY(0%) scale(1.5);  
    stroke-width:0.2;
    opacity:0; 
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}
@keyframes ball {
  to {transform: translateY(20%);}
}

