<!-- <footer>
    <div class="footer-shape wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
        <div class="footer-right">
            <p class="copyright-text">Creativeanimo © 2020</p>
            <div class="design-by-area wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s">
                <span>Design By: </span>
                <a href="http://wearecreative.net" target="_blank">
                    <img src="assets/images/logo-wearecreative.png" alt="">
                </a>
            </div>
        </div>
    </div>
</footer> -->




<footer>

    <div class="footer-right">
        <p class="copyright-text">Creativeánimo © 2020</p>
        <div class="design-by-area">
            <span>Design By: </span>
            <a href="http://wearecreative.net" target="_blank">
                <img src="assets/images/logo-wearecreative.png" alt="">
            </a>
        </div>
    </div>

    <svg viewBox="0 0 120 28">
        <defs>
            <mask id="xxx">
                <circle cx="7" cy="12" r="40" fill="#fff" />
            </mask>

            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="2" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="
               1 0 0 0 0  
               0 1 0 0 0  
               0 0 1 0 0  
               0 0 0 13 -9" result="goo" />
                <feBlend in="SourceGraphic" in2="goo" />
            </filter>
            <path id="wave"
                d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
        </defs>
        <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2"></use>
        <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0"></use>
        <g class="gooeff">
            <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" />
        </g>
    </svg>
</footer>