
<app-header></app-header>
<main>
  <div class="cursor cursor-shadow"></div>
  <div class="cursor cursor-dot"></div>
  <router-outlet (activate)="onActivate($event)"></router-outlet>


  

</main>

<app-footer></app-footer>