<section class="hero-wrapper">
    <div class="container">
        <p>
            We provide a full suite of web design and development services, with special care for mobile. We offer
            everything your brand needs for digital marketing, too.
        </p>
        <div class="scroll-down">
            <span></span>
        </div>

    </div>
    <div class="header-shape-yellow wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.9s">
        <img src="assets/images/curve-bg-02.png">
    </div>
</section>

<section class="services-cont">
    <div class="container">
        <div class="body-content">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="left-cols">
                        <div class="left-cols__content">
                           <!-- <h3>
                                Front End Development
                            </h3> -->
                            <p>
                                Meet our close-knit tribe of designers, copywriters, developers, marketers, and
                                strategists.
                            </p>
                            <button class="sweep-btn--black button cursor-link" id="one">
                                <span>Read More</span>
                            </button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services-tween-max">
                        <span class="services-img">
                            <img src="assets/images/front-end.jpg">
                        </span>
                        <span class="services-title">
                            Front End Development

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-cont">
    <div class="container">
        <div class="body-content">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="left-cols">
                        <div class="left-cols__content">
                            <!-- <h3>
                                Back End Development
                            </h3> -->
                            <p>
                                Meet our close-knit tribe of designers, copywriters, developers, marketers, and
                                strategists.
                            </p>
                            <a href="" class="sweep-btn--black">
                                <span>Read More</span>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services-tween-max">
                        <span class="services-img">
                            <img src="assets/images/programming.jpg">
                        </span>
                        <span class="services-title">
                            Back End Development
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-ticker inner-padding">
    <h2>Skills in which we are expert</h2>
    <div class="tickerwrapper">
        <ul class='list'>
            <li class='listitem'>
                <span>HTML5</span>
            </li>
            <li class='listitem'>
                <span>CSS3</span>
            </li>
            <li class='listitem'>
                <span>SASS</span>
            </li>
            <li class='listitem'>
                <span>Bootstrap 4+</span>
            </li>
            <li class='listitem'>
                <span>Mobile Responsive</span>
            </li>
            <li class='listitem'>
                <span>Javascript</span>
            </li>

            <li class='listitem'>
                <span>Angular 6+ </span>
            </li>
            <li class='listitem'>
                <span>Wordpress</span>
            </li>
            <li class='listitem'>
                <span>PHP</span>
            </li>


            <li class='listitem'>
                <span>HTML5</span>
            </li>
            <li class='listitem'>
                <span>CSS3</span>
            </li>
            <li class='listitem'>
                <span>SASS</span>
            </li>
            <li class='listitem'>
                <span>Bootstrap 4+</span>
            </li>
            <li class='listitem'>
                <span>Mobile Responsive</span>
            </li>
            <li class='listitem'>
                <span>Javascript</span>
            </li>

            <li class='listitem'>
                <span>Angular 6+ </span>
            </li>
            <li class='listitem'>
                <span>Wordpress</span>
            </li>
            <li class='listitem'>
                <span>PHP</span>
            </li>

            <li class='listitem'>
                <span>HTML5</span>
            </li>
            <li class='listitem'>
                <span>CSS3</span>
            </li>
            <li class='listitem'>
                <span>SASS</span>
            </li>
            <li class='listitem'>
                <span>Bootstrap 4+</span>
            </li>
            <li class='listitem'>
                <span>Mobile Responsive</span>
            </li>
            <li class='listitem'>
                <span>Javascript</span>
            </li>

            <li class='listitem'>
                <span>Angular 6+ </span>
            </li>
            <li class='listitem'>
                <span>Wordpress</span>
            </li>
            <li class='listitem'>
                <span>PHP</span>
            </li>
            

        </ul>
    </div>
</section>





<section>
    <div class="container">
        <a routerLink='/contact' class="lets-talk">
            <span class="text-sm">
                Got a project?
            </span>
            <span class="text-lg">
                Let’s talk.
            </span>
            <svg class="lets-talk__arrow" viewBox="0 0 62 62" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(5.000000, 5.000000)" stroke="#000000" stroke-width="15">
                        <g>
                            <polyline
                                transform="translate(37.000000, 37.000000) rotate(-315.000000) translate(-37.000000, -37.000000) "
                                points="20 3 54 37 20 71"></polyline>
                            <path d="M55,23.5 L-8,23.5"
                                transform="translate(23.500000, 23.500000) rotate(-315.000000) translate(-23.500000, -23.500000) ">
                            </path>
                        </g>
                    </g>
                </g>
            </svg>
        </a>

    </div>
</section>


<div id="modal-container">
    <div class="modal-background">
        <div class="modal">
            <button type="button" class="close-modal">
                <span>&times;</span>
            </button>

            <div class="modal-body-content">
                <h2> Back End Development</h2>
                <p>
                    Responsive design is an approach to web design that allows the pages of a website to render, or
                    "respond," to different device,
                    window, or screen sizes. An effective website translates seamlessly across all devices and browsers,
                    ensuring that the pages
                    maintain optimum functionality and visual layout. Depending on the client and needs, some websites
                    may require a mobile-first
                    design approach to accommodate for customers on-the-go.

                    Responsive design is an approach to web design that allows the pages of a website to render, or
                    "respond," to different device,
                    window, or screen sizes. An effective website translates seamlessly across all devices and browsers,
                    ensuring that the pages
                    maintain optimum functionality and visual layout. Depending on the client and needs, some websites
                    may require a mobile-first
                    design approach to accommodate for customers on-the-go.
                </p>
            </div>
        </div>
    </div>
</div>