@import "../../assets/scss/variables", "../../assets/scss/mixins", "../../assets/scss/layout",
  "../../assets/scss/ui-elements";

.services-cont {
  @include breakpoint(sm) {
    background: url(../../assets/images/Testimonial-Blob.svg) no-repeat right top;
  }

  .body-content {
    background: url(../../assets/images/Testimonial-Blob.svg) no-repeat;
    background-position: 45px 45px;

    @include breakpoint(sm) {
      background: none;
    }

    .left-cols {
      @include padding(0, 60px, 0, 210px);
      min-height: 612px;
      display: flex;
      align-items: center;

      @include breakpoint(sm) {
        @include padding(40px, 30px, 40px, 30px);
        text-align: center;
        min-height: auto;
      }

      &__content {
        h3 {
          display: block;
          @include margin(0, 0, 50px, 0);
          font-size: 30px;
        }
        p {
          font-size: 20px;
          @include margin(0, 0, 50px, 0);
          @include breakpoint(sm) {
            @include margin(0, 0, 25px, 0);
          }
        }

        .sweep-btn--black {
          @include breakpoint(sm) {
            margin: auto;
          }
        }
      }
    }

    .services-tween-max {
      position: relative;
      padding: 0 70px 0 0;

      @include breakpoint(sm) {
        padding: 0 0 0 0;
      }

      .services-img {
        display: block;
        width: 100%;
        position: relative;
        box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.5);
      }
      .services-img img {
        display: block;
        width: 100%;
      }
      .services-title {
        display: block;
        position: absolute;
        z-index: 5;
        top: 55px;
        right: 0;
        text-align: right;
        overflow: hidden;
        padding: 0 0 6px 0;
        font-size: 35px;
        line-height: 38px;
        color: $brand-color;

        @include breakpoint(sm) {
          font-size: 22px;
        }

        &:after {
          content: "";
          width: 30%;
          height: 2px;
          background: $brand-color;
          display: block;
          position: absolute;
          z-index: 1;
          bottom: 0;
          right: 0;
          @include transition(all 0.5s ease);
        }
      }

      &:hover {
        .services-title {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

.services-ticker {
  background: $brand-color;

  h2 {
    text-align: center;
    @include margin(0, 0, 55px, 0);
    color: $black-color;
  }

  .tickerwrapper {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
    background: $brand-color;
    @include transform(rotate(-2deg));
  }
  .list {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;

    &.cloned {
      position: absolute;
      top: 0px;
      left: 0px;
    }
    li {
      float: left;
      padding-left: 50px;
      padding-right: 50px;
      font-size: 120px;
      color: $black-color;
      text-transform: lowercase;

      span {
        position: relative;
        &:before {
          position: absolute;
          bottom: 55px;
          width: 0%;
          height: 20px;
          background: $white-color;
          content: "";
          z-index: -1;
          @include transition(all 0.5s ease);
        }
      }

      &:hover {
        span {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 999;

  &.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    .modal-background {
      .modal {
        transform: scale(0);
        animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
    &.out {
      transform: scale(1);
      animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      .modal-background {
        .modal {
          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
      }
    }
    .close-modal {
      animation: fadeInUp 0.9s ease forwards;
      animation-delay: 0.9s;
    }
  }

  .modal-background {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
      background: $white-color;
      @include padding(50px, 50px, 50px, 50px);
      display: inline-block;
      @include border-radius(5px);
      position: relative;
      width: 70% !important;
      height: auto !important;
      overflow: visible !important;

      .close-modal {
        position: absolute;
        top: -60px;
        right: 0;
        color: $white-color;
        font-size: 22px;
        border: 2px solid $white-color;
        @include transition(all 0.5s ease-in-out);
        @include border-radius(50px);
        width: 45px;
        height: 45px;
        text-align: center;
        opacity: 0;

        &:hover {
          background: $white-color;
          color: $brand-color;
        }
      }
    }
    .modal-body-content {
      text-align: left;
      h2 {
        font-size: 30px;
        @include margin(0, 0, 30px, 0);
      }
      p {
        font-size: 20px;
      }
    }
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
