@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/animate.css/animate.css";

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

@import "assets/scss/reset", "assets/scss/typography", "assets/scss/variables", "assets/scss/mixins",
  "assets/scss/layout", "assets/scss/ui-elements";

body {
  font-family: $font-primary-en;
  overflow-x: hidden;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

main {
  @include padding(0, 0, 10px, 0);
  background: $white-color;
  margin-bottom: 300px;
  position: relative;
  z-index: 999;
  height: 100%;

  @include breakpoint(sm) {
    margin-bottom: 150px;
  }
}

@include breakpoint(sm) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

section {
  @include margin(0, 0, 110px, 0);

  @include breakpoint(md) {
    @include margin(0, 0, 100px, 0);
  }

  @include breakpoint(sm) {
    @include margin(0, 0, 100px, 0);
  }
}

.inner-padding {
  @include padding(110px, 0, 110px, 0);
  @include breakpoint(sm) {
    @include padding(50px, 0, 50px, 0);
  }
}

.nomargin {
  @include margin(0, 0, 0, 0);
}
.nopadding {
  @include padding(0, 0, 0, 0);
}

.hero-wrapper {
  @include padding(0, 0, 0, 0);
  /* background: $black-color; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(assets/images/curve-bg-01.png) no-repeat top center;
  background-size: cover;
  height: 795px;
  position: relative;
  width: 100%;
  overflow: hidden;

  @include breakpoint(sm) {
    background: url(assets/images/curve-bg-01.png) no-repeat top left;
    height: 615px;
  }

  p {
    text-align: center;
    color: $white-color;
    font-size: 50px;
    @include margin(0, 0, 50px, 0);

    @include breakpoint(sm) {
      font-size: 25px;
    }
  }

  .header-shape-yellow {
    position: absolute;
    z-index: -1;
  }

  .sweep-btn--center {
    margin: auto;
  }

  .scroll-down {
    position: absolute;
    left: 50%;
    bottom: 60px;
    opacity: 0;
    animation: fadeInDown 0.8s ease forwards;
    animation-delay: 0.5s;
    span {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 30px;
      height: 50px;
      border: 2px solid $black-color;
      @include border-radius(50px);

      &:before {
        position: absolute;
        top: 10px;
        left: 50%;
        content: "";
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: $black-color;
        @include border-radius(100%);
        -webkit-animation: scroller-animation 2s infinite;
        animation: scroller-animation 2s infinite;
      }
    }
  }

  @-webkit-keyframes scroller-animation {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

.about-us-home {
  @include breakpoint(sm) {
    background: url(assets/images/Testimonial-Blob.svg) no-repeat right top;
  }

  .body-content {
    background: url(assets/images/Testimonial-Blob.svg) no-repeat;
    background-position: 45px 45px;

    @include breakpoint(sm) {
      background: none;
    }

    .left-cols {
      @include padding(160px, 60px, 300px, 210px);

      @include breakpoint(sm) {
        @include padding(40px, 30px, 40px, 30px);
        text-align: center;
      }

      &__content {
        h3 {
          display: block;
          @include margin(0, 0, 50px, 0);
          font-size: 30px;
        }
        p {
          font-size: 20px;
          @include margin(0, 0, 50px, 0);

          @include breakpoint(sm) {
            @include margin(0, 0, 25px, 0);
          }
        }

        .sweep-btn--black {
          @include breakpoint(sm) {
            margin: auto;
          }
        }
      }
    }

    .about-tween-max {
      position: relative;
      padding: 0 70px 0 0;

      @include breakpoint(sm) {
        padding: 0 0 0 0;
      }

      .about-img {
        display: block;
        width: 100%;
        position: relative;
        box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.2);
        &:before {
          background: $brand-color;
          content: "";
          height: 100px;
          width: 100px;
          bottom: -10px;
          left: -10px;
          z-index: -1;
          position: absolute;
        }
        &:after {
          background: $black-color;
          content: "";
          height: 100px;
          width: 100px;
          top: -10px;
          right: -10px;
          z-index: -1;
          position: absolute;
        }
      }
      .about-img img {
        display: block;
        width: 100%;
      }
    }
  }
}

.testimonial {
  background: url(assets/images/Testimonial-Blob.svg) no-repeat right top;
  @include padding(100px, 0, 100px, 0);

  .owl-carousel .owl-stage-outer {
    @include padding(50px, 0, 50px, 0);
  }

  .item {
    opacity: 0.4;
    transition: 0.4s ease all;
    transform: scale(0.9);
  }

  .active .item {
    opacity: 1 !important;
    transform: scale(1) !important;
  }

  /* owl dots */
  .owl-dots {
    opacity: 0;
    animation: fadeInUp 0.8s ease forwards;
    animation-delay: 0.5s;
    .owl-dot {
      span {
        background: none !important;
        border: 1px solid $brand-color !important;
      }
    }
    .owl-dot.active {
      span {
        background: $brand-color !important;
        border: 0 !important;
        position: relative;
      }
    }
  }

  .owl-nav {
    position: absolute;
    top: 40%;
    width: 100%;

    .owl-prev {
      position: absolute;
      left: 45px;
      font-size: 0 !important;
      background: none !important;

      @include breakpoint(sm) {
        left: -40px;
      }
      @include breakpoint(md) {
        left: -60px;
      }

      &:before {
        font-family: FontAwesome;
        content: "\f104";
        position: absolute;
        left: 0;
        font-size: 18px;
        top: 0;
        border-radius: 50%;
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        background: none;
        border: 1px solid $brand-color;
        color: $brand-color;
        @include transition(all 0.5s ease);
      }
      &:hover {
        &:before {
          background: $brand-color;
          color: $white-color;
        }
      }
    }
    .owl-next {
      position: absolute;
      background: none !important;
      right: 45px;
      font-size: 0 !important;

      @include breakpoint(sm) {
        right: -40px;
      }
      @include breakpoint(md) {
        right: -60px;
      }

      &:before {
        font-family: FontAwesome;
        content: "\f105";
        position: absolute;
        right: 0;
        font-size: 20px;
        top: 0;
        border-radius: 50%;
        height: 40px;
        line-height: 40px;
        width: 40px;
        background: none;
        text-align: center;
        border: 1px solid $brand-color;
        color: $brand-color;
        @include transition(all 0.5s ease);
      }

      &:hover {
        &:before {
          background: $brand-color;
          color: $white-color;
        }
      }
    }
  }

  .testimonial-holder {
    @include shadow;
    @include border-radius(10px);
    background: $white-color;
    @include padding(30px, 30px, 30px, 30px);

    &__name {
      font-size: 22px;
      color: $brand-color;
      font-weight: 700;
      @include margin(0, 0, 10px, 0);
    }
    &__designation {
      font-size: 16px;
      @include margin(0, 0, 20px, 0);
      display: block;
    }
    &__comments {
      font-size: 16px;
    }
  }
}

.parallax {
  background-image: url("assets/images/slider-01-desktop.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &:before {
    position: absolute;
    width: 100%;
    content: "";
    background: rgba($black-color, 0.6);
    left: 0;
    height: 100%;
    @include transition(all 0.5s ease);
  }

  figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    z-index: 9;
    position: relative;

    h2 {
      color: $white-color;
      font-weight: 700;
      font-size: 60px;
    }
  }
}

.lets-talk {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $black-color;
  position: relative;
  @include margin(100px, 0, 0, 0);

  .text-sm {
    font-size: 20px;
  }
  .text-lg {
    font-size: 120px;

    @include breakpoint(sm) {
      font-size: 80px;
      line-height: 75px;
    }
  }
  svg {
    position: absolute;
    width: 44px;
    bottom: -44px;
    left: 50%;
    margin-left: -31px;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translateY(50px) rotate(-45deg);
    transform: translateY(50px) rotate(-45deg);
    opacity: 0;
    -webkit-transition: transform 0.4s cubic-bezier(0.18, 0, 0.16, 1), opacity 0.4s cubic-bezier(0.18, 0, 0.16, 1);
    -webkit-transition: opacity 0.4s cubic-bezier(0.18, 0, 0.16, 1),
      -webkit-transform 0.4s cubic-bezier(0.18, 0, 0.16, 1);
    transition: opacity 0.4s cubic-bezier(0.18, 0, 0.16, 1), -webkit-transform 0.4s cubic-bezier(0.18, 0, 0.16, 1);
    transition: transform 0.4s cubic-bezier(0.18, 0, 0.16, 1), opacity 0.4s cubic-bezier(0.18, 0, 0.16, 1);
    transition: transform 0.4s cubic-bezier(0.18, 0, 0.16, 1), opacity 0.4s cubic-bezier(0.18, 0, 0.16, 1),
      -webkit-transform 0.4s cubic-bezier(0.18, 0, 0.16, 1);
  }
  &:hover {
    color: $brand-color;
    svg {
      opacity: 1;
      -webkit-transform: translateY(0) rotate(0deg);
      transform: translateY(0) rotate(0deg);
    }
  }
}

.cursor {
  --size: 8px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  position: absolute;
  z-index: 10000;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.cursor.cursor-shadow {
  background-color: transparent;
  border: 2px solid $brand-color;
  --size: 40px;
  transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s, background-color 0.2s, border-color 0.2s;
  transition-timing-function: ease-out;
  @include breakpoint(sm) {
    --size: 0;
    border: 0;
  }
}
.cursor.cursor-dot {
  background: $black-color;
  transition: width 0.2s, height 0.2s;
  @include breakpoint(sm) {
    background: none;
  }
}
.cursor-shadow.active {
  --size: 80px;
  /* background-color: rgba($white-color, 0.2); */
  border: 2px solid $brand-color;

  @include breakpoint(sm) {
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba($brand-color, 0.1);
    --size: 0;
  }
}
.cursor-dot.active {
  --size: 0;
}
