<section class="hero-wrapper">
    <div class="container">
        <p class="">
            We create custom, enterprise quality websites that increase organizational efficiency and drive brand
            engagement.


            we are a digital agency that
            creates e-commerce and website
            experiences with results that
            make you smile.
        </p>


        <div class="scroll-down">
            <span></span>
        </div>

        <a href="" class="sweep-btn--center">
            <span>Read More</span>
        </a>

    </div>
    <div class="header-shape-yellow wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.9s">
        <img src="assets/images/curve-bg-02.png">
    </div>
</section>

<section class="about-us-home">
    <div class="container">
        <div class="body-content">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="left-cols">
                        <div class="left-cols__content">
                            <h3>
                                Peek behind the curtain.
                            </h3>
                            <p>
                                Meet our close-knit tribe of designers, copywriters, developers, marketers, and
                                strategists.
                            </p>
                            <a routerLink='/about' class="sweep-btn--black">
                                <span>Read More</span>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-tween-max">
                        <span class="about-img">
                            <img src="assets/images/desk-document-hand@3x.jpg">
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="heading__small">Kind words from Great Folks</h2>
            </div>
            <div class="col-lg-6">
                <owl-carousel [options]="{items: 1, dots: true, navigation: true, stagePadding: 0,  rtl: false ,responsive:{
                    '0':{items: 1, margin: 0, stagePadding:0},
                    '1000': { items: 1, stagePadding: 100, margin:50,  dots: true, nav: true },
                    '1645': { items: 1, margin: 0, stagePadding: 0, dots: true }
                  }}" [carouselClasses]="['owl-theme', 'sliding']">

                    <div class="item">
                        <div class="testimonial-holder">

                            <h3 class="testimonial-holder__name">Joseph William</h3>
                            <span class="testimonial-holder__designation">Co Founder</span>
                            <p class="testimonial-holder__comments">
                                Vivamus eu erat at diam rutrum euismod non ac mauris. Mauris maximus massa sollicitudin
                                diam
                                condimentum
                                pellentesque. Curabitur commodo lectus id libero mattis, vitae scelerisque orci
                                pharetra.
                            </p>


                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-holder">
                            <h3 class="testimonial-holder__name">Joseph William</h3>
                            <span class="testimonial-holder__designation">Co Founder</span>
                            <p class="testimonial-holder__comments">
                                Vivamus eu erat at diam rutrum euismod non ac mauris. Mauris maximus massa sollicitudin
                                diam
                                condimentum
                                pellentesque. Curabitur commodo lectus id libero mattis, vitae scelerisque orci
                                pharetra.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-holder">
                            <h3 class="testimonial-holder__name">Joseph William</h3>
                            <span class="testimonial-holder__designation">Co Founder</span>
                            <p class="testimonial-holder__comments">
                                Vivamus eu erat at diam rutrum euismod non ac mauris. Mauris maximus massa sollicitudin
                                diam
                                condimentum
                                pellentesque. Curabitur commodo lectus id libero mattis, vitae scelerisque orci
                                pharetra.
                            </p>

                        </div>
                    </div>
                </owl-carousel>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="parallax">
        <div class="container">
            <figcaption>
                <h2>Our design is powerful.</h2>
            </figcaption>
        </div>
    </div>
</section>





<section>
    <div class="container">
        <a routerLink='/contact' class="lets-talk cursor-link">
            <span class="text-sm">
                Got a project?
            </span>
            <span class="text-lg">
                Let’s talk.
            </span>
            <svg class="lets-talk__arrow" viewBox="0 0 62 62" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(5.000000, 5.000000)" stroke="#000000" stroke-width="15">
                        <g>
                            <polyline
                                transform="translate(37.000000, 37.000000) rotate(-315.000000) translate(-37.000000, -37.000000) "
                                points="20 3 54 37 20 71"></polyline>
                            <path d="M55,23.5 L-8,23.5"
                                transform="translate(23.500000, 23.500000) rotate(-315.000000) translate(-23.500000, -23.500000) ">
                            </path>
                        </g>
                    </g>
                </g>
            </svg>
        </a>

    </div>
</section>